@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
  display: block;
}

input {
  padding: 8px;
  border: 2px solid black;
  color: grey;
  border-radius: 5px;
}

input:focus {
  border: 2px solid #f0789e;
  color: black;
  outline: none;
}

body {
  font-family:'Cambria';
}


h1 {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Arial';
  text-transform: uppercase;

}

h2 {
  font-size: 30px;
  font-family: 'Arial';
}

h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Arial';
  text-transform: uppercase;
}

h5 {
  font-family: 'Arial';
  text-transform: uppercase;
  font-weight: 600;
}

h6 {
  font-weight: 600;
  font-family: 'Arial';
}

p {
  font-size: 16px;
}

