@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "custom-serif";
  src: url("/fonts/SourceSerif4-Variable.ttf")
}

label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
  display: block;
}

input, textarea {
  padding: 8px;
  border: 1.5px solid black;
  color: grey;
  border-radius: 5px;
}

input:focus, textarea:focus {
  border: 2px solid #aa3c16;
  color: black;
  outline: none;
}


body {
  font-size: 14px;
}


h1 {
  font-size: 40px;
  font-family: 'custom-serif';
}

h2 {
  font-size: 30px;
  font-family: 'custom-serif';
}

h3 {
  font-size: 20px;
  font-family: 'custom-serif';
}

h4 {
  font-size: 18px;
  font-family: 'custom-serif';
}

h5 {
  font-family: 'custom-serif';
  font-size: 17px;
}

h6 {
  font-family: 'custom-serif';
  font-size: 16px;
}

p {
  font-size: 14px;
}

a {
  color: #aa3c16;
}

a:hover {
  color: black;
  cursor: pointer;
}

.primaryButton {
  background-color: #aa3c16;
  padding: 0 4px;
  border: 2px solid;
  border-radius: 4px;
  border-color: #aa3c16;
  color: white;
}

.primaryButton:hover {
  color: #aa3c16;
  background-color: white;
}

.inverseButton {
  color: #aa3c16;
  padding: 0 4px;
  border: 2px solid;
  border-radius: 4px;
  border-color: #aa3c16;
}

.inverseButton:hover {
  color: white;
  background-color: #aa3c16;
}

