@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "custom-serif";
  src: url("/fonts/SourceSerif4-Variable.ttf")
}

label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
  display: block;
}

input, textarea {
  padding: 8px;
  border: 1.5px solid black;
  color: grey;
  border-radius: 5px;
}

input:focus, textarea:focus {
  border: 2px solid #f0789e;
  color: black;
  outline: none;
}


body {
  font-size: 14px;
}


h1 {
  font-size: 40px;
  font-family: 'custom-serif';
}

h2 {
  font-size: 30px;
  font-family: 'custom-serif';
}

h3 {
  font-size: 20px;
  font-family: 'custom-serif';
}

h5 {
  font-family: 'custom-serif';
  font-size: 18px;
}

h6 {
  font-family: 'custom-serif';
  font-size: 16px;
}

p {
  font-size: 14px;
}

