<!doctype html>
<html>
<head>
    <title>RateYourStyle Welcome</title>
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
    Hi {{ .Username }},<br/><br/>
    It's wonderful to have you in the community and we're excited to see your outfits! 

    To complete your sign up process, please click the link below. This link expires in 5 minutes.
    <br />
    <a href="{{ .VerificationLink }}">Sign Up</a>
    <br />
    <br />
    If you did not request this link, please report this email <a href="mailto:rateyourstyle@gmail.com">here</a>.
</body>
</html> 